*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
log/*.log
pkg/
rdoc
spec/reports
spec/test_app/db/*.sqlite3
spec/test_app/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache
test/tmp
test/version_tmp
tmp
